/* Minecraft-like pixely font */
@font-face {
	font-family: minecraftia;
	src: url( 'minecraftia.ttf' );
}

/* General page style */

body {
	height: 100%;
	
	font-family: minecraftia;
	font-size: 16px;
	
	text-shadow: #3f3f3f 2px 2px 0px;
	
	background: url( '../media/background.png' );
}

/* Render surface */

#renderSurface {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
}

/* Material selector */

#materialSelector {
	position: relative;
	margin: auto;
	bottom: 20px;
	background: rgba( 0, 0, 0, 0.6 );
}

#materialSelector tr {
	height: 70px;
}

#materialSelector td {
	width: 70px;
	margin: 0;
	padding: 0;
	
	cursor: pointer;
	
	opacity: 0.3;
	
	background: url( '../media/blockthumbs.png' );
	background-position: 0px 0px;
}

#materialSelector td:hover {
	opacity: 0.8;
}

/* Chatbox */

#chatbox {
	position: absolute;
	left: 20px;
	bottom: 55px;
	
	width: 320px;
	height: 115px;
	overflow: hidden;
	
	padding-left: 10px;
	padding-right: 10px;
	
	cursor: default;
	
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}

#pad div {
	display: none;
}

#pad #pad_down {
	position: absolute;
	right: 105px;
	bottom: 55px;
}

#chatbox_text {
	position: absolute;
	bottom: 8px;
	
	text-shadow: none;
}

#chatbox_entry {
	position: absolute;
	left: 20px;
	bottom: 18px;
	
	width: 310px;
	height: 30px;
	
	padding-left: 10px;
	padding-bottom: 2px;
	
	background: rgba( 0, 0, 0, 0.6 );
	border: none;
	outline: none;
	
	color: white;
	font-family: minecraftia;
	font-size: 15px;
}


#blocks {
	position: absolute;
	
	width: 720px;
	height: 600px;
	
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 100px;
	margin-bottom: 30px;
	
	cursor: default;
	
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}

#blocks_text {
	position: absolute;
	bottom: 8px;
	
	text-shadow: none;
}

#blocks_entry {
	position: absolute;
	left: 20px;
	bottom: 18px;
	
	width: 310px;
	height: 30px;
	
	padding-left: 10px;
	padding-bottom: 2px;
	
	background: rgba( 0, 0, 0, 0.6 );
	border: none;
	outline: none;
	
	color: white;
	font-family: minecraftia;
	font-size: 15px;
}
